.page.ant-layout {
  min-height: 100vh;
}

.content {
  padding: 32px 24px 24px 0;
}

.sidebar.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.ant-descriptions-item-container>.ant-descriptions-item-label {
  font-weight: 600;
}